{% extends "base.html" %}
    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Atenção! Você está prestes a deletar a sub-área {{ sub_area.nome }}. Essa ação excluirá todas
                    as atividades ligadas a ela.
                </h3>
            </div>
            <form method="post">
                <div class="box-body">
                    <p>Nome: <b>{{ sub_area.nome }}</b></p>
                    <p>Área: <b>{{ sub_area.descricao }}</b></p>
                    <p>Sub-Área: <b>{{ sub_area.area }}</b></p>
                    <br>
                    <div class="card-header btn btn-danger">
                        {% csrf_token %}
                        {{ form_exclusao.confirmacao.errors }}
                        <h4>
                            {{ form_exclusao }}
                            Estou ciente de que irei excluir todas as atividades relacionadas a esta sub-área junto com
                            a mesma e que esta operação é irreversível.
                        </h4>
                    </div>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
                        <button class="btn btn-danger" type="submit">Remover</button>
                    </form>
                </div>
            </form>

        </div>

    {% endblock content %}