{% extends "base.html" %}
{% load static %}
{% load meus_filtros %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Lista de Sub-Áreas</h3>
            </div>
            <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Área</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in sub_areas %}
                            <td><a href="{% url 'listar_sub_area_nome' i.nome|slugify %}">{{ i.nome }}</a></td>
                            <td>{{ i.area }}</td>
                            <td>
                                <a href="{% url 'editar_sub_area' i.id %}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="box-footer">

            </div>

        </div>
    {% endblock content %}