certifi
chardet
defusedxml
Django
django-upload-validator
idna
mysqlclient
oauthlib
Pillow
pycparser
PyJWT
python-magic
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
urllib3
openpyxl
django-ckeditor
djangorestframework
