{% extends "index.html" %}

    {% block title %}
        Exclusão da atividade {{ atividade.descricao }}
    {% endblock title %}

    {% block content %}
        <div class="box box-primary">
            <form method="post">
                <div class="box-title">
                    <h3>
                        Atenção! Você está prestes a excluir a atividade com {{ atividade.descricao }} do dia
                        {{ atividade.data }}. Esta operação é irreversível.
                    </h3>
                </div>
                <div class="box-body">
                    <p>Data: <b>{{ atividade.data }}</b></p>
                    <p>Área: <b>{{ atividade.area }}</b></p>
                    <p>Sub-Área: <b>{{ atividade.sub_area }}</b></p>
                    <p>Plataforma: <b>{{ atividade.sub_area }}</b></p>
                    <p>Pessoa: <b>{{ atividade.pessoa }}</b></p>
                    <p>Descrição: <b>{{ atividade.descricao }}</b></p>
                    <p>Detalhamento: <b>{{ atividade.detalhamento|safe }}</b></p>
                    <p>Tempo: <b>{{ atividade.tempo }}</b></p>
                    <p>Id: <b>{{ atividade.id }}</b></p>
                    <br>
                    <div class="btn-danger">
                        {% csrf_token %}
                        {{ form_exclusao }}
                        Sim, desejo excluir e estou ciente de que esta operação é irreversível.
                    </div>
                </div>
                <div class="box-footer">
                    <form method="post">
                        {% csrf_token %}
                        <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-primary"></a>
                        <input type="submit" value="Excluir" class="btn btn-danger">
                    </form>
                </div>
            </form>

        </div>

    {% endblock content %}