{% extends "base.html" %}

    {% block title %}
        Atividade: {{ atividade.descricao }}
    {% endblock title %}

    {% block content %}
        {% if projeto %}
            {% include 'atividades/projeto.html' %}
        {% endif %}

        {% for i in atividades %}
            {% if i.detalhamento != '' %}
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            {% if not projeto %}
                                {{ i.descricao|upper }} -
                            {% endif %}
                            {{ i.data }} - {{ i.tempo }} minutos
                        </h3>
                    </div>
                    <div class="box-body">
                        <p>{{ i.detalhamento|safe }}</p>
                    </div>
                    <div class="box-footer">
                        <form method="post">
                            <a href="{% url 'editar_atividade' i.id %}">Editar</a>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endblock content %}