{% extends "index.html" %}
{% load meus_filtros %}
{% load static %}

{% block title %} Cadastrar Atividade {% endblock title %}

{% block content %}
        <!-- INÍCIO CRONÔMETRO -->
        <div class="box box-primary box-450px" id="cronometro">
            <div class="box-header">
                <h3 class="box-title">Cronômetro</h3>
            </div>
            <div class="box-body">
                <span id="counter-display">00:00</span>
                <input type="button" class="btn btn-info" value="+" onclick="addMinute()">
                <input type="button" class="btn btn-info" value="-" onclick="subtractMinute()">
            </div>
            <div class="box-footer">
                <input type="button" value="Iniciar" class="btn btn-primary" id="start-button" onclick="runCounter()">
                <input type="button" value="Registar" class="btn btn-info" onclick="registerOnInput()">
                <input type="button" value="Zerar" class="btn btn-danger" onclick="resetCounter()">
            </div>
        </div>
        <!-- FIM CRONÔMETRO -->

        <!-- INÍCIO FORMULÁRIO DE ATIVIDADES -->
        <div class="box box-primary center-div" id="formulario">
            <div class="box-header">
                <h3 class="box-title">Cadastro de Atividade</h3>
            </div>
            <div class="box-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_data">Data:</label>
                        {{ form_atividade.data|addclass:'form-control' }}
                        {{ form_atividade.data.errors }}
                    </div>
                    <div class="form-group" id="div-area">
                        <label for="id_area">Área:</label>
                        <i class="fa-solid fa-plus padding-left-10 cursor-pointer" id="create-area"></i>
                        <i class="fa-solid fa-pen-to-square padding-left-10 cursor-pointer" id="update-area"></i>
                        <i class="fa-solid fa-arrow-rotate-right padding-left-10 cursor-pointer" id="list-area"></i>
                        {{ form_atividade.area|addclass:'form-control' }}
                        {{ form_atividade.area.errors }}
                    </div>
                    <div class="form-group" id="div-subarea">
                        {{ form_atividade.subarea.errors }}
                        <label for="id_subarea">Sub-Área:</label>
                        <i class="fa-solid fa-plus padding-left-10 cursor-pointer" id="create-subarea"></i>
                        <i class="fa-solid fa-pen-to-square padding-left-10 cursor-pointer" id="update-subarea"></i>
                        <i class="fa-solid fa-arrow-rotate-right padding-left-10 cursor-pointer" id="list-subarea"></i>
                        {{ form_atividade.subarea|addclass:'form-control' }}
                    </div>
                    <div class="form-group" id="div-plataforma">
                        <label for="id_plataforma">Plataforma:</label>
                        <i class="fa-solid fa-plus padding-left-10 cursor-pointer" id="create-plataforma"></i>
                        <i class="fa-solid fa-pen-to-square padding-left-10 cursor-pointer" id="update-plataforma"></i>
                        <i class="fa-solid fa-arrow-rotate-right padding-left-10 cursor-pointer" id="list-plataforma"></i>
                        {{ form_atividade.plataforma|addclass:'form-control' }}
                        {{ form_atividade.plataforma.errors }}
                    </div>
                    <div class="form-group" id="div-pessoa">
                        <label for="id_pessoa">Pessoa:</label>
                        <i class="fa-solid fa-plus padding-left-10 cursor-pointer" id="create-pessoa"></i>
                        <i class="fa-solid fa-pen-to-square padding-left-10 cursor-pointer" id="update-pessoa"></i>
                        <i class="fa-solid fa-arrow-rotate-right padding-left-10 cursor-pointer" id="list-pessoa"></i>
                        {{ form_atividade.pessoa|addclass:'form-control' }}
                        {{ form_atividade.pessoa.errors }}
                    </div>
                    <div class="form-group">
                        {{ form_atividade.descricao.errors }}
                        <label for="id_descricao">Descrição:</label>
                        {{ form_atividade.descricao|addclass:'form-control' }}
                    </div>
                    <div class="form-group">
                        {{ form_atividade.detalhamento.errors }}
                        <label for="ckeditor-init-script">Detalhamento:</label><br><br>
                        {{ form_atividade.media }}
                        {{ form_atividade.detalhamento|addclassplace:"form-control,Faça suas notas e observações aqui." }}
                    </div>
                    <div class="form-group">
                        {{ form_atividade.tempo.errors }}
                        <label for="id_tempo">Tempo:</label>
                        {{ form_atividade.tempo|addclass:'form-control' }}
                    </div>
                </div>
                <div class="box-footer">
                    <div>
                        <input class="btn btn-primary" type="submit" name="Cadastrar">
                        <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-info"></a>
                        {% if 'editar' in request.path %}
                        <a href="{% url 'remover_atividade' atividade_antiga.id %}"><input type="button" value="Excluir" class="btn btn-danger"></a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <!-- FIM FORMULÁRIO DE ATIVIDADES -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'atividades/js/cronometro.js' %}"></script>
    <script src="{% static 'atividades/js/classes.js' %}" type="module"></script>
{% endblock %}

