{% extends "index.html" %}
{% load meus_filtros %}
{% load static %}

{% block title %} Cadastrar Atividade {% endblock title %}

{% block content %}
        <!-- INÍCIO CRONÔMETRO -->
        <div class="box box-primary box-450px" id="cronometro">
            <div class="box-header">
                <h3 class="box-title">Cronômetro</h3>
            </div>
            <div class="box-body">
                <span id="counter">00:00</span>
                <input type="button" class="btn btn-info" value="+" onclick="plus()">
                <input type="button" class="btn btn-info" value="-" onclick="minus()">
            </div>
            <div class="box-footer">
                <input type="button" value="Iniciar" class="btn btn-primary" onclick="start()">
                <input type="button" value="Registar" class="btn btn-info" onclick="registrar()">
                <input type="button" value="Zerar" class="btn btn-danger" onclick="zerar()">
            </div>
        </div>
        <!-- FIM CRONÔMETRO -->

        <!-- INÍCIO FORMULÁRIO DE ATIVIDADES -->
        <div class="box box-primary center-div" id="formulario">
            <div class="box-header">
                <h3 class="box-title">Cadastro de Atividade</h3>
            </div>
            <div class="box-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_atividade.data.errors }}
                        <label for="id_data">Data:</label>
                        {{ form_atividade.data|addclass:'form-control' }}
                    </div>
                    <div class="form-group" id="div-area">
                        {{ form_atividade.area.errors }}
                        <label for="id_area">Área:</label>
                        <i class="fa-solid fa-plus padding-left-10 cursor-pointer" id="render-create-area-button" onclick="renderForm('area', 'create')"></i>
                        <i class="fa-solid fa-pen-to-square padding-left-10 cursor-pointer" id="render-update-area-button" onclick="renderUpdate('area', 'id_area')"></i>
                        <i class="fa-solid fa-arrow-rotate-right padding-left-10 cursor-pointer" onclick="renderOptionsAreas('id_area')"></i>
                        {{ form_atividade.area|addclass:'form-control' }}
                    </div>
                    <div class="form-group" id="div-subarea">
                        {{ form_atividade.sub_area.errors }}
                        <label for="id_sub_area">Sub-Área:</label>
                        <i class="fa-solid fa-plus padding-left-10 cursor-pointer" onclick="renderForm('subarea', 'create')"></i>
                        <i class="fa-solid fa-pen-to-square padding-left-10 cursor-pointer" onclick="renderUpdate('subarea', 'id_sub_area')"></i>
                        <i class="fa-solid fa-arrow-rotate-right padding-left-10 cursor-pointer" onclick="getSubAreasRelacionadas()"></i>
                        {{ form_atividade.sub_area|addclass:'form-control' }}
                    </div>
                    <div class="form-group">
                        {{ form_atividade.plataforma.errors }}
                        <label for="id_plataforma">Plataforma:</label>
                        {{ form_atividade.plataforma|addclass:'form-control' }}
                    </div>
                    <div class="form-group">
                        {{ form_atividade.pessoa.errors }}
                        <label for="id_pessoa">Pessoa:</label>
                        {{ form_atividade.pessoa|addclass:'form-control' }}
                    </div>
                    <div class="form-group">
                        {{ form_atividade.descricao.errors }}
                        <label for="id_descricao">Descrição:</label>
                        {{ form_atividade.descricao|addclass:'form-control' }}
                    </div>
                    <div class="form-group">
                        {{ form_atividade.detalhamento.errors }}
                        <label for="ckeditor-init-script">Detalhamento:</label><br>
                        {{ form_atividade.media }}
                        {{ form_atividade.detalhamento|addclassplace:"form-control,Faça suas notas e observações aqui." }}
                    </div>
                    <div class="form-group">
                        {{ form_atividade.tempo.errors }}
                        <label for="id_tempo">Tempo:</label>
                        {{ form_atividade.tempo|addclass:'form-control' }}
                    </div>
                </div>
                <div class="box-footer">
                    <div>
                        <input class="btn btn-primary" type="submit" name="Cadastrar">
                        <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn btn-info"></a>
                        {% block excluir %}
                        {% endblock excluir %}
                    </div>
                </form>
            </div>
        </div>
        <!-- FIM FORMULÁRIO DE ATIVIDADES -->
{% endblock %}

{% block scripts %}
    <script src="{% static 'atividades/js/cronometro.js' %}"></script>
    <script src="{% static 'atividades/js/services.js' %}"></script>
{% endblock %}

