{% extends "index.html" %}
{% load static %}
{% load meus_filtros %}

    {% block title %}Atividades{% endblock title %}

    {% block content %}
            <!-- INÍCIO BARRA DE NAVEGAÇÃO MÊS/SEMANA/ANO -->
            <span id="navegacao-button">
                <i class="fa-solid fa-angles-down" onclick="toggleNavegacao('navegacao')"></i>
            </span>
            <div class="navegacao toggled" id="navegacao">
                <div class="bolder toggled">Mês</div>
                <div class="bolder toggled">Semana</div>
                <div class="bolder toggled">Ano</div>
                <div class="toggled">
                    <a class="btn" href="{% url 'listar_ano_mes_semana' ano|calcular_ano_mes_anterior:valor 'mes' valor|calcular_mes_anterior %}"><<</a>
                    <a class="btn" href="{% url 'listar_ano_mes_semana' ano_atual 'mes' mes_atual %}">Atual</a>
                    <a class="btn" href="{% url 'listar_ano_mes_semana' ano|calcular_ano_mes_proximo:valor 'mes' valor|calcular_mes_proximo %}">>></a>
                </div>
                <div class="toggled">
                    <a class="btn" href="{% url 'listar_ano_mes_semana' ano|calcular_ano_semana_anterior:valor 'semana' ano|calcular_semana_anterior:valor %}"><<</a>
                    <a class="btn" href="{% url 'listar_ano_mes_semana' ano_atual 'semana' semana_atual %}">Atual</a>
                    <a class="btn" href="{% url 'listar_ano_mes_semana' ano|calcular_ano_semana_proxima:valor 'semana' ano|calcular_semana_proxima:valor  %}">>></a>
                </div>
                <div class="toggled">
                    <a class="btn" href="{% url 'listar_ano' ano|subtrair1 %}"><<</a>
                    <a class="btn" href="{% url 'listar_ano' ano_atual %}">Atual</a>
                    <a class="btn" href="{% url 'listar_ano' ano|somar1 %}">>></a>
                </div>
            </div>
            <!-- FIM BARRA DE NAVEGACAO MÊS/SEMANA/ANO -->

            <!-- INÍCIO TABELA TEMPO -->
            <div class="box box-primary center-div" id="tempo-area">
                <div class="box-header with-border">
                    <h3 class="box-title">Tempo Total por Área {{ tempo_areas.nome }}</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="center">Área</th>
                                <th class="center">Tempo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for area in tempo_areas %}
                            <tr>
                            {% if area.nome != 'Total' %}
                                <td class="center"><a href="/atividades/listar/area/{{ area.nome|slugify }}/">{{ area.nome }}</a></td>
                                <td class="center">{{ area.tempo|em_horas }}</td>
                            {% else %}
                                <td class="center">{{ area.nome }}</td>
                                <td class="center">{{ area.tempo|em_horas }}</td>
                            {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- FIM TABELA TEMPO -->

            <!-- INÍCIO GRÁFICO -->
            <div class="box box-primary center-div" id="graphic">
                <div class="box-header">
                    <h3 class="box-title">Gráfico de Atividades</h3>
                </div>
                <div class="box-body">
                    <!-- Start Canvas -> Desenhar elementos gráficos usando JS -->
                    <canvas class="line-chart"></canvas>
                </div>
            </div>
            <!-- FIM GRÁFICO -->

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Lista de Atividades</h3>
        </div>
        <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Área</th>
                    <th>Sub-Área</th>
                    <th>Plataforma</th>
                    <th>Pessoa</th>
                    <th>Descrição</th>
                    <th>Tempo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for i in atividades %}
                {% if request.user.id == i.usuario.id %}
                <tr>
                    <td><a href="{% url 'listar_sessao' 'data' i.data %}">{{ i.data | date:"d/m" }}</a></td>
                    <td><a href="{% url 'listar_sessao' 'area' i.area|slugify %}">{{ i.area }}</a></td>
                    <td><a href="{% url 'listar_sessao' 'sub-area' i.sub_area.id %}">{{ i.sub_area }}</a></td>
                    <td><a href="{% url 'listar_sessao' 'plataforma' i.plataforma.id|slugify %}">{{ i.plataforma }}</a></td>
                    <td><a href="{% url 'listar_sessao' 'pessoa' i.pessoa|slugify %}">{{ i.pessoa }}</a></td>
                    <td><a href="{% url 'expandir_atividade' i.id %}">{{ i.descricao }}</a></td>
                    <td>{{ i.tempo }}</td>
                    <td>
                        <a href="{% url 'expandir_atividade' i.id %}"><i class="fa-solid fa-file-lines action-icon"></i></a>
                        <a href="{% url 'editar_atividade' i.id %}"><i class="fa-solid fa-pen-to-square action-icon"></i></a>
                    </td>
                {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="box-footer">
            <span>Total de {{ contador_atividades }} itens listados.</span>
        </div>

    </div>

    <input type="hidden" id="json" value='{{ json_tempo_areas | safe }}'>
    {% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="{% static 'atividades/js/chartjs-graphic.js' %}"></script>
{% endblock %}