{% extends 'index.html' %}
{% load static %}
{% load meus_filtros %}
    {% block title %}
        Settings
    {% endblock title %}


    {% block content %}
        <i id="inicio"></i>
        <ul>
            <li><a href="#areas">Áreas</a></li>
            <li><a href="#sub_areas">Sub-Áreas</a></li>
        </ul>
        <div class="box box-primary" id="areas">
            <div class="box-title">
                <h3>Áreas</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'cadastrar_area' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="center">Nome</th>
                        <th>Cor</th>
                        <th class="center">Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                        {% for area in areas %}
                            <tr>
                                <td class="center">{{ area.nome }}</td>
                                <td class="center">
                                    <div class="center-div" style="background-color: {{ area.cor }}; width: 20px; height: 20px; border-radius: 10px;"></div>
                                </td>
                                <td class="center">
                                    <a href="{% url 'editar_area' area.id %}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                </table>
            </div>
            <div class="box-footer">
                <a href="#inicio"><input type="button" value="Voltar" class="btn"></a>
            </div>
        </div>

        <div class="box box-primary" id="sub_areas">
            <div class="box-title">
                <h3>Sub-Áreas</h3>
            </div>
            <div class="box-body">
                <a href="{% url 'cadastrar_sub_area' %}"><input type="button" value="Cadastrar" class="btn btn-primary"></a>
                <table class="table">
                    <tr>
                        <th>Nome</th>
                        <th>Editar</th>
                    </tr>
                    {% for sub_area in sub_areas %}
                    <tr>
                        <td>{{ sub_area.nome }}</td>
                        <td>
                            <a href="{% url 'editar_sub_area' sub_area.id %}">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="box-footer">
                <a href="#inicio"><input type="button" value="Voltar" class="btn"></a>
            </div>
        </div>
    {% endblock content %}