{% extends "index.html" %}
{% load meus_filtros %}

{% block title %}
{% if 'cadastrar' in request.path %}
Cadastrar Área
{% else %}
Editar Área
{% endif %}
{% endblock title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">
                {% if 'cadastrar' in request.path %}
                Cadastrar Área
                {% else %}
                Editar Área
                {% endif %}
            </h3>
        </div>
        <div class="box-body">
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    {{ form_area.nome.errors }}
                    <label for="id_nome">Nome:</label>
                    {{ form_area.nome|addclass:'form-control' }}
                </div>

                <div class="form-group">
                    {{ form_area.descricao.errors }}
                    <label for="ckeditor-init-script">Detalhamento:</label><br><br>
                    {{ form_area.media }}
                    {{ form_area.descricao|addclass:'form-control' }}
                </div>

                <div class="form-group">
                    {{ form_area.cor.errors }}
                    <label for="id_cor">Cor:</label><br>
                    {{ form_area.cor }}
                </div>

            </div>
            <div class="box-footer">
            <div>
                <input class="btn btn-primary" type="submit" name="Cadastrar">
                <a href="{{request.META.HTTP_REFERER}}"><input type="button" value="Voltar" class="btn"></a>
                {% if 'editar' in request.path %}
                <a href="{% url 'remover_area' area_antiga.id %}"><input type="button" value="Excluir" class="btn btn-danger"></a>
                {% endif %}
            </div>
        </form>

        </div>
    </div>
{% endblock content %}