{% extends "login/index.html" %}
{% load static %}
{% load  i18n %}
{% load meus_filtros %}

{% block title %}
    Cadastrar
{% endblock title %}

{% block content %}
<!--        <img class="logotipo" src="{% static 'img/logo.png' %}">-->
        <div class="box box-primary box-450px center-div">
            <div class="box-header with-border">
                <h3 class="box-title">Login</h3>
            </div>
            <div class="box-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form_usuario.username.errors }}
                        <label>Usuário: </label>
                        {{ form_usuario.username|addclass:'form-control' }}
                    </div>
    
                    <div class="form-group">
                        {{ form_usuario.password.errors }}
                        <label>Senha: </label>
                        {{ form_usuario.password|addclass:'form-control' }}
                    </div>

            <div class="box-footer">
                <div class="form-group">
                    <input type="submit" value="Logar" class="btn btn-primary">
                    <a href="{% url 'cadastrar_usuario' %}">Cadastrar usuário</a>
                </form>
                </div>
            </div>
        </div>
{% endblock %}