/* INÍCIO LAYOUT */

* {
    box-sizing: border-box;
}

/* INICIO GRID LAYOUT */

body {
    font-family: Ubuntu;
    background: #191919;
    margin: 0;
    color: #cccccc;
    display: grid;
    grid-template-columns: 260px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "logo header"
        "sidebar main"
        "footer footer";
    transition: all .25s linear;
}

logo,
header,
aside,
main,
footer {
    text-align: center;
}

logo {
    grid-area: logo;
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    background: #5e0000;
    font-family: 'Philosopher';
    font-size: 26px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

header {
    background: #8b0000;
    grid-area: header;
}

aside {
    font-size: 15px;
    background: #212121;
    grid-area: sidebar;
}

main {
    padding: 16px;
    min-height: calc(100vh - 110px);
    grid-area: main;
}

footer {
    background: #161616;
    grid-area: footer;
}

.toggled {
    display: none;
    width: 0;
    height: 0;
    transition-delay: 0.25s;
}

/* FIM GRID LAYOUT */



/* INÍCIO BARRA SUPERIOR */


.logo {
    height: 30px;
    width: 30px;
}

logo > div {
    display: flex;
    align-items: center;
}

logo > div > span {
    margin-left: 10px;
}

header > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

header > ul > li {
    list-style-type: none;
    align-items: center;
}

header > ul >  li > a {
    text-decoration: none;
    color: #cccccc;
    padding: 16px;
    font-size: 25px;
}

header > ul > li > a:hover {
    background: #5e0000;
    transition: all .45s linear;
    cursor: pointer;
}

.profile-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#profile-photo-button {
    height: 40px;
    border-radius: 20px;
    position: relative;
}

.search-button {
    margin-top: 30px;
    color: #cccccc;
    font-size: 25px;
}

#search-form {
    position: absolute;
    height: 200px;
    width: 500px;
    max-width: 100%;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -100px;
    text-align: center;
    transition: all .45s linear;
}

/* FIM BARRA SUPERIOR */



/* INÍCIO PROFILE */

header > section {
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    height: auto;
    width: auto;
    background: #212121;
    position: absolute;
    border: 1px solid #161616;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "photo photo"
        "dados dados"
        "profile logout";
    align-items: center;
}

.photo {
    grid-area: photo;
}

.dados {
    grid-area: dados;
    border-bottom: 2px solid #282828;
}

.dados > p {
    text-align: center;

}

.profile {
    margin: 25px;
    grid-area: profile;
}

.logout {
    grid-area: logout;
}

header > section > div> img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 4px solid #454545;
    margin: 15px;
    justify-content: center;
    align-items: center;
}

header > section > div > p {
    margin: 8px 70px 8px 70px;
}

header > section > div > p:first-child {
    margin-top: 0;
    font-family: 'Philosopher';
}

header > section > div > p:last-child {
    margin-bottom: 20px;
}

/* FIM PROFILE */



/* INÍCIO MENU LATERAL */

.toggled-sidebar {
    font-family: Ubuntu;
    margin: 0;
    background: #191919;
    color: #cccccc;
    display: grid;
    grid-template-columns: 52px auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "logo header"
    "sidebar main"
    "footer footer";
    transition: all .25s linear;
}

aside > ul {
    left: 0;
    margin: 0;
    padding: 0;
}

aside > ul > li > a {
    font-family: Ubuntu, 'Source Sans Pro';
    font-size: 15px;
    width: auto;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px 12px 10px;
    color: #cccccc;
    text-decoration: none;
    transition: all.2s linear;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

aside > ul > li:first-child {
    margin-top: 20px;
}

aside > ul > li > a:hover{
    background-color: #8b0000;
    transition: all .45s linear;
    cursor: pointer;
}

aside > ul > li > a > div {
    margin: 10px;
}

aside > ul > ul {
    padding: 0;
    background: #272727;
}

aside > ul > ul > li {
    display: block;
    width: auto;
    box-sizing: border-box;
    text-align: left;
}

aside > ul > ul > li > a {
    font-family: Ubuntu, 'Source Sans Pro';
    font-size: 15px;
    width: auto;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px 12px 30px;
    color: #cccccc;
    text-decoration: none;
    transition: all.2s linear;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transition: all .45s linear;
}

aside > ul > ul > li > a:hover {
    background-color: #8b0000;
    transition: all .45s linear;
}

/* FIM MENU LATERAL */


/* INÍCIO BARRA DE NAVEGAÇÃO MÊS/SEMANA/ANO */

#navegacao-button {
    cursor: pointer;
}

.navegacao {
    margin: 10px 0 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 50px;
    align-items: center;
}

/* FIM BARRA DE NAVEGAÇÃO MÊS/SEMANA/ANO */

/* BARRA DE ROLAGEM */

::-webkit-scrollbar {
    width: 15px;
  }

::-webkit-scrollbar-track {
background-color: #212121;
}

::-webkit-scrollbar-thumb {
background: #151515;
}

::-webkit-scrollbar-thumb:hover {
background: #101010;
}

/* BARRA DE ROLAGEM */

/* FIM LAYOUT */



/* INÍCIO ELEMENTOS */


/* INÍCIO TABELA */

table {
    width: 100%;
    background: #141414;
    border-collapse: collapse;
    font-size: 13px;
    text-align: center;
}

tr {
    height: 40px;
}

tr:nth-child(odd) {
    background: #191919;
}

tr:hover {
    background-color: #5e0000;
}

th {
    background: #131313;
    font-weight: bolder;
}

td > a {
    text-decoration: none;
    columns: #ccc;
}

td a:hover {
    color: #fff;
}

.action-icon {
    margin: 5px;
}

/* FIM TABELA */


/* INÍCIO BOX */

.box {
    margin: 25px 10px 25px 10px;
    background-color: #131313;
    border-radius: 4px;
    border: 1px solid #080808;
}

.box-primary {
    border-top: 3px solid darkred;
}

.box-header {
    box-shadow: border-box;
}

.box-title {
    font-family: Ubuntu;
    text-align: left;
    margin:10px;
}

.box-body {
    display: block;
    padding: 20px 10px 20px 10px;
    font-family: Ubuntu;
    font-size: 13px;
    border-top: 1px solid #212121;
    text-align: left;
}

.box-footer {
    padding: 15px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #212121;
    font-family: Ubuntu;
    font-size: 13px;
    text-align: left;
}

/* FIM BOX */



/* INÍCIO ALINHAMENTOS HORIZONTAIS E VERTICAIS */

.flex-h-center {
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.flex-left {
    justify-content: flex-start;
}

.flex-v-center {
    align-items: center;
}

.flex-h-top {
    align-items: flex-start;
}

.flex-h-botton {
    align-items: flex-end;
}

.align-right {
    margin-left: auto;
}

.center {
    text-align: center;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

/* FIM ALINHAMENTOS HORIZONTAIS E VERTICAIS */



/* INÍCIO BOTÕES */

.btn {
    font-family: Ubuntu;
    font-size: 13px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    border: 1px solid #292929;
    background-color: #262626;
    color: azure;
    box-shadow: none;
    cursor: pointer;
}

.btn:hover {
    border: 1px solid #292929;
    background-color: #343434;
    transition: all .45s linear;
}

.btn-primary {
    border: 1px solid #2e0000;
    background-color: #5e0000;
}

.btn-primary:hover {
    border: 1px solid #5e0000;
    background-color: darkred;
    transition: all .45s linear;
}

.btn-danger {
    border: 1px solid #5e0000;
    background-color: darkred;
}

.btn-danger:hover {
    border: 1px solid #5e0000;
    background-color: darkred;
    transition: all .45s linear;
}

.box-450px {
    width: 450px;
}

.box-max-width-920px {
    width: 920px;
}

/* FIM BOTÕES */


/* INÍCIO FORMULÁRIOS */

.form-control{
    display: block;
    width: 99%;
    height: 30px;
    margin: 10px 10px 10px 0;
    background: #303030;
    border-radius: 3px;
    border: 1px solid #404040;
    color: #ccc;
    font-family: Ubuntu;
    
}

label{
    font-weight: bolder;
}

option {
    background: #202020;
    font-size: 15px;
}

/* INÍCIO FORMULÁRIOS */


/* INÍCIO FORMATADORES */

.bolder {
    font-weight: bolder;
}


.font-14 {
    font-size: 14px;
}

.font-22 {
    font-size: 22px;
}

.italic {
    font-style: italic;
}

a {
    color: #ccc;
}

.padding-left-10 {
    padding-left: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

/* FIM FORMATADORES */


/* #### CONTADOR #### */

#counter{
    font-size: 35px;
    font-family: Ubuntu;
    font-weight: bolder;
    vertical-align: middle;
    margin-right: 20px;
    cursor: pointer;
}

/* #### CONTADOR #### */


/* FIM ELEMENTOS */