<!DOCTYPE html>
{% load static %}
{% load  i18n %}
<html lang="pt-br">
    <head>
        <title>
            {% block title %}

            {% endblock title %}
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'atividades/css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&family=Nunito+Sans&display=swap" rel="stylesheet">
        <link rel="icon" href="{% static 'atividades/img/favicon.png' %}">
    </head>
    <body>
        <header class="main-header">
            <nav class="main-header">
                <span id="logo">PRoDutividade</span>
                <input type="checkbox" id="check" value="off">
                <a href=""><label id="button" for="check" onclick="toggle()">☰</label></a>
                <section class="profile-button" onclick="colapseProfile('profile')">
                    <img id="profile-photo" src="{% static 'atividades/img/profile.jpg' %}" alt="">
                </section>
                <div id="profile">
                    <div class="profile-main">
                        <img id="photo" src="{% static 'atividades/img/profile.jpg' %}" alt="">
			<label for="photo" id="nome">{{ request.user.first_name }} {{ request.user.last_name }}</label>
			<span id="mail">{{ request.user.email  }}</span>
			<span id="desde">Membro desde {{ request.user.date_joined  }}</span>
                    </div>
                    <div class="profile-footer">
                        <div id="footer-left">
                            <a class="btn" href="">Perfil</a>
                        </div>
                        <div id="footer-right">
				<a class="btn" href="{% url 'deslogar_usuario'  %}">Logoff</a>
                        </div>

                    </div>
                </div>
            </nav>
        </header>
        <aside id="navegacao">
            <div id="user-panel">
                <img id="aside-profile-photo" src="{% static 'atividades/img/profile.jpg' %}" alt="">
                <span id="aside-profile-name">{{ request.user.username }}</span>
            </div>
            <ul class="menu">
                {% block menu %}
                {% include 'includes/menu.html' %}
                {% endblock menu %}
            </ul>
        </aside>


        <main id="conteudo">
        {% block content %}

        {% endblock content %}
        </main>
        <script src="{% static 'atividades/js/script.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>
    </body>
</html>
