{% extends "base.html" %}
{% load static %}
{% load meus_filtros %}
    {% block title %}
        Listagem de Áreas
    {% endblock title %}

    {% block content %}
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Lista de Plataformas</h3>
            </div>
            <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in plataformas %}
                            <td>
                                <a href="{% url 'listar_plataforma_nome' i.nome|slugify %}">{{ i.nome }}</a></td>
                            <td>
                                <a href="{% url 'editar_plataforma' i.id %}"><i class="fa fa-edit"></i></a>
                                <a href="{% url 'remover_plataforma' i.id %}"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="box-footer">

            </div>

        </div>
    {% endblock content %}