{% extends "base.html" %}

    {% block title %}
        PRoDutividade | Expandir atividade
    {% endblock title %}
        {{ atividade.tipo }}
    {% block content %}
        <div class="card">
            <form method="post">
                <div class="card-header btn btn-danger">
                    {% csrf_token %}
                    {{ form_exclusao }}
                    Tem certeza que deseja excluir este registro? Esta operação é irreversível.
                </div>
                <div class="card-body">
                    <h5 class="card-title">Data: {{ atividade.data }}</h5>
                    <h5 class="card-title">Área: {{ atividade.area }}</h5>
                    <h5 class="card-title">Sub-Área: {{ atividade.sub_area }}</h5>
                    <h5 class="card-title">Plataforma: {{ atividade.sub_area }}</h5>
                    <h5 class="card-title">Pessoa: {{ atividade.pessoa }}</h5>
                    <h5 class="card-title">Descrição: {{ atividade.descricao }}</h5>
                    <h5 class="card-title">Detalhamento: {{ atividade.detalhamento }}</h5>
                    <h5 class="card-title">Tempo: {{ atividade.tempo }}</h5>
                    <h5 class="card-title">Id: {{ atividade.id }}</h5>
                    <form method="post">
                        {% csrf_token %}
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
                        <button class="btn btn-danger" type="submit">Remover</button>
                    </form>
                </div>
            </form>

        </div>

    {% endblock content %}