{% extends "base.html" %}
{% load meus_filtros %}
    {% block title %}
        PRoDutividade | Expandir atividade
    {% endblock title %}
        {{ atividade.tipo }}
    {% block content %}
        <div class="card">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{{ atividade.descricao }}</h3>
                </div>
                <div class="box-body">
                    <p>Área: <b>{{ atividade.area }}</b></p>
                    <p>Sub-Área: <b>{{ atividade.sub_area }}</b></p>
                    <p>Plataforma: <b>{{ atividade.plataforma }}</b></p>
                    <p>Início: <b>{{ atividade.inicio }}</b></p>
                    <p>Conclusão: <b>{{ atividade.fim }}</b></p>
                    <p>Tempo atividade: <b>{{ tempo_atividade }} min. (Cálculo Automtico)</b></p>
                    <p>Tempo atividade: <b>{{ atividade.tempo }} min. (Cronometrado)</b></p>
                    <p>Tempo Total: <b>{{ tempo_total|em_horas }}</b></p>
                    <p>Detalhamento: <br><br>
                    {{ atividade.detalhamento|safe }}</p>
                    <td><a href="{% url 'listar_sessao' 'descricao' atividade.descricao %}">Ver tabela com todas as ocorrências</a></td>
                </div>
            <div class="box-footer">
                <form method="post">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-primary">Voltar</a>
                </form>
            </div>
        </div>
        {% for i in atividades %}
            {% if i.detalhamento != '' %}
                <div class="card">
                    <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">{{ i.data }} - {{ i.tempo }} minutos</h3>
                    </div>
                    <div class="box-body">
                        <p>{{ i.detalhamento|safe }}</p>
                    </div>
                    <div class="box-footer">
                        <form method="post">
                            <a href="{% url 'editar_atividade' i.id %}">Editar</a>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endblock content %}