        <aside>
            <ul>
                <!-- INÍCIO ÍTENS DE MENU -->

                <!-- INÍCIO EXEMPLO ÍTEM COMUM -->
                <li>
                    <a href="{% url 'listar_semana_atual' %}">
                        <div>
                            <i class="fa-solid fa-house"></i>
                        </div>
                        <div class="toggle">
                            <span>Início</span>
                        </div>
                    </a>
                </li>
                <!-- FIM EXEMPLO ÍTEM COMUM -->
                <li>
                    <a href="{% url 'cadastrar_atividade' %}">
                        <div>
                            <i class="fas fa-edit icon"></i>
                        </div>
                        <div class="toggle">
                            <span>Cadastrar</span>
                        </div>
                    </a>
                </li>
                <!-- INICIO EXEMPLO ÍTEM COM DROPDOWN -->
                <li>
                    <a id="listar-submenu-button" onclick="toggleSubMenu('listar-submenu')">
                        <div>
                            <i class="fas fa-list icon"></i>
                        </div>
                        <div class="toggle">
                            <span>Listar </span>
                        </div>
                        <div class="align-right">
                            <i class="fa-solid fa-angle-down inverse-toggle"></i>
                        </div>
                    </a>
                </li>
                    <ul id="listar-submenu" class="toggled">
                        <li>
                            <a href="{% url 'listar_atividades' %}">Todas as atividades</a>
                        </li>
                    </ul>
                <!-- FIM EXEMPLO ÍTEM COM DROPDOWN -->

                <!-- FIM ÍTENS MENU -->
            </ul>
        </aside>