{% load static %}

<li class="menu-item">
    <a href="{% url 'cadastrar_atividade' %}" class="menu-item-link"><i class="fas fa-edit icon"></i><span>Cadastrar</span></a>
</li>

<li class="menu-item">
    <a href="{% url 'listar_atividades' %}" class="menu-item-link"><i class="fas fa-list icon"></i><span class="collapse">Listar</span></a>
</li>

<li class="menu-item">
    <a href="{% url 'listar_ano_mes_semana' ano_atual 'semana' semana_atual %}" class="menu-item-link"><i class="fas fa-list icon"></i><span class="collapse">Listar Semana Atual</span></a>
</li>